h3, p, a{

    color: rgb(0, 0, 0)
    
}

body{

    background-color: aliceblue; 

}

.grid{

    display : flex;

    flex-wrap: wrap;

    justify-content: space-evenly;

}

.item p{

    position: absolute;

    top: 40%;

    left: 40%;

    transform: translate(-50%, -50%);

    opacity: 0;

}

.item:hover p{

    opacity: 1;

}

.item:hover img{

opacity: .5

}